# Configuración de la aplicación de Gestión Documental
# Variables de entorno para desarrollo

# Configuración de la API
VITE_API_URL=http://10.15.13.37:9000/api/

# Configuración OAuth 2.0
VITE_OAUTH_CLIENT_ID=
VITE_OAUTH_REDIRECT_URI=http://localhost:3000/auth/callback
VITE_OAUTH_BASE_URL=http://10.15.13.37:9011/api/o
VITE_OAUTH_AUTH_URL=${VITE_OAUTH_BASE_URL}/authorize/
VITE_OAUTH_TOKEN_URL=${VITE_OAUTH_BASE_URL}/token/
VITE_OAUTH_REVOKE_URL=${VITE_OAUTH_BASE_URL}/revoke_token/
VITE_OAUTH_SCOPE=api openid introspection

# Configuración de la aplicación
VITE_APP_NAME=Gestion Documental | SABG
VITE_APP_VERSION=1.0.0
VITE_APP_ENVIRONMENT=development

# Configuración de desarrollo
VITE_DEBUG_MODE=true
VITE_LOG_LEVEL=info
VITE_USE_MOCK=true